@import "tailwindcss";

html{
    background-color: #DDD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.handle-navbar{
    margin-top: 100px;
}

.input-box{
    width: 100%;
    height: 50px;
    margin: 20px 0px;
    position: relative;
}

.input-value{
    width: 100%;
    height: 100%;
    border: 2px solid #EEE;
    padding: 20px 45px 20px 20px;
}

.input-value-reverse{
    width: 100%;
    height: 100%;
    border: 2px solid #EEE;
    padding: 20px 20px 20px 55px;
}

.input-icon{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-icon-reverse{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 20px;
}

.custom-border{
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

td{
    padding: 10px 25px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

select {
  appearance: none;
}

/* Ẩn scrollbar nhưng vẫn scroll được */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE và Edge */
}

/* Xóa nút tăng giảm của input number */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}